@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:wght@300;400;500;700&family=Teko:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100%;
  overflow: hidden;
  color: white;
}

.container {
  height: 100vh;
  display: flex;
}

.clientSizeContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
  opacity: 50%;
}

#toolbar {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 400px;
  background-color: #202020;
}

#drawingTools {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#buttonContainer {
  display: flex;
  justify-content: space-around;
  margin: 1rem 0 2rem 0;
}

.fa-brush {
  font-size: 1.5rem;
  margin-right: 0.8rem;
  opacity: 70%;
}

.btn {
  background-color: #bf81f5;
  border: none;
  font-size: 1rem;
  border-radius: 1rem;
  color:#202020;
  padding: 0.5rem;
  cursor: pointer;
  width: 40%;
  justify-content: center;
}
  
canvas {
  background: white;
}

#chat {
  background: #202020;
}

#chat h1 {
  text-align: center;
  margin-bottom: 0.6rem;
  opacity: 70%;
  font-weight: 300;
}

.chatMessage {
  /* background: #4b4b4b; */
  color:#202020;
  padding: 0.4rem 1.2rem;
  border-radius: 2rem;
  margin-left: 1rem;
  margin-top: 0.6rem;
  max-width: max-content;
  overflow-wrap: break-word;
}

.chatMessageUsername {
  margin-left: 1rem;
  margin-top: 0.3rem;
  font-size: 0.8rem;
  opacity: 50%;
}

#chatButton {
  /* background: #7a7a7a; */
  border: 2px solid #bf81f5;
  background: transparent;
  height: 2.4rem;
  width: 3rem;
  border-radius: 0 2rem 2rem 0;
  /* padding: 0.5rem; */
  cursor: pointer;
}

.fa-paper-plane {
  color: #bf81f5;
  font-size: 1rem;
}

#chatBoxInput {
  display: flex;
  justify-content: center;
}

#messageBox {
  width: 77%;
  font-size: 1.2rem;
  border-radius: 2rem 0 0 2rem;
  height: 2.4rem;
  outline: none;
  border: none;
  padding: 0.7rem;

}

#stroke {
  width: 118px;
  height: 4rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#clientSize, #clientUsername {
  margin-left: 0.3rem;
}

#lineWidth {
  cursor: pointer;
  width: 80%;
}

#chatMessages {
  overflow-y:auto;
  height: 400px;
}

#usernameContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  opacity: 70%;
}